<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/aboutstyle.css">
    <title>about us</title>
</head>

<body>
    <header class='masthead'>
        <p class='masthead-intro'>About </p>
        <h1 class='masthead-heading'>stock expresstrade</h1>
    </header>
    <section class="introduction-section">
        <h1>Stock ExpressTrade</h1>
        <p>With over 153,000 investments under our management, $5 billion+ in assets
            under our administration, over 11 industry awards, we have made universalaccess.ltd the safe
            haven for investors who want to trust their financial partner
            to be capable of helping them reach their financial goals, and in due time, without the fear
            of disappointments.</p>
        <p>We have been known to give investors
            the better choice.</p>
    </section>
    <section class="location-section">

    </section>
    <section class="questions-section">
        <h2>WHAT IS OUR MISSION</h2>
        <p>To be everything a traditional financial institution is not. We set out to give investors
            better, simpler and more profitable ways to become financially successful and secure.</p>
    </section>

    <footer class="content-footer">
        <p></p>
        <ul class="social">
            <li><a class="css-is-deranged" href="/">Home</a></li>
            <li><a class="css-is-deranged" href="/signup">Signup</a></li>
            <li><a class="css-is-deranged" href="/login">Login</a></li>
        </ul>

    </footer>
</body>

</html>