<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deposit</title>
    <link rel="stylesheet"  href="/css/depositStyle.css">
</head>

<body>
    <section class="ts-features-col" style="margin-bottom: 0px;">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div style=" width: 100%;">
                        <div
                            style="width: 100%; background-color: #FFFFFF; overflow:hidden; box-sizing: border-box; text-align: right; line-height:14px; font-size: 12px; box-sizing:content-box; font-feature-settings: normal; text-size-adjust: 100%; padding:1px;padding: 0px; margin: 0px;">
                            <div style="height:40px;">
                                <embed
                                    src="https://widget.coinlib.io/widget?type=horizontal_v2&theme=light&pref_coin_id=1505&invert_hover="
                                    width="100%" height="36" scrolling="auto" marginwidth="0" marginheight="0"
                                    frameborder="0" border="0" style="border:0;margin:0;padding:0;" />

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="holder">
                <h3 class="plan-price">
                    <strong> STANDARD PLAN</strong>
                </h3>
                <ul class="list-unstyled">
                    <li>
                        <h6 class='text-muted'><b>5%</b></h6>
                        <h6 class='text-muted'><b>MINI: $100</b></h6>
                        <h6 class='text-muted'><b>MAX: $299</b></h6>
                        <h6 class='text-muted'><b>DURATION: 24HRS</b></h6>
                        <h6 class='text-muted'><b>3% REFERAL BONUS</b></h6>
                    </li>
                    <!--<li><span style="color: #03811c;"> Trades/Day </span><b>4</b></li>-->
                    <li><span style="color: #7f20d8;">Instant Trading</span><b>24/7 Support</b>
                    </li>
                    <li><span style="color:#7f20d8;">99.9% Services </span><b>uptime</b></li>
                    <li>
                        <!-- <button><a href="#">DEPOSIT</a></button> -->
                    </li>
                </ul>
            </div>
            <div class="holder">
                <h3 class="plan-price">
                    <strong>PREMIUM PLAN</strong>
                </h3>
                <ul class="list-unstyled">
                    <li>
                        <h6 class='text-muted'><b>10%</b></h6>
                        <h6 class='text-muted'><b>MINI: $3,000</b></h6>
                        <h6 class='text-muted'><b>MAX: $9,999</b></h6>
                        <h6 class='text-muted'><b>DURATION: 24HRS</b></h6>
                        <h6 class='text-muted'><b>5% REFERAL BONUS</b></h6>
                    </li>
                    <!--<li><span style="color: #03811c;"> Trades/Day </span><b>4</b></li>-->
                    <li><span style="color: #7f20d8;">Instant Trading</span><b>24/7 Support</b>
                    </li>
                    <li><span style="color:#7f20d8;">99.9% Services </span><b>uptime</b></li>
                    <li>
                        <!-- <button><a href="#">DEPOSIT</a></button> -->
                    </li>

                </ul>
            </div>
            <div class="holder">
                <h3 class="plan-price">
                    <strong>ULTRA PLAN</strong>
                </h3>
                <ul class="list-unstyled">
                    <li>
                        <h6 class='text-muted'><b>15%</b></h6>
                        <h6 class='text-muted'><b>MINI: $10,000</b></h6>
                        <h6 class='text-muted'><b>MAX: $49,999</b></h6>
                        <h6 class='text-muted'><b>DURATION: 24HRS</b></h6>
                        <h6 class='text-muted'><b>10% REFERAL BONUS</b></h6>
                    </li>
                    <!--<li><span style="color: #03811c;"> Trades/Day </span><b>4</b></li>-->
                    <li><span style="color: #7f20d8;">Instant Trading</span><b>24/7 Support</b>
                    </li>
                    <li><span style="color:#7f20d8;">99.9% Services </span><b>uptime</b></li>
                    <li>
                        <!-- <button><a href="">DEPOSIT</a></button> -->
                    </li>

                </ul>
            </div>
            <div class="holder">
                <h3 class="plan-price">
                    <strong>VIP PLAN</strong>
                </h3>
                <ul class="list-unstyled">
                    <li>
                        <h6 class='text-muted'><b>20%</b></h6>
                        <h6 class='text-muted'><b>MINI: $50,000</b></h6>
                        <h6 class='text-muted'><b>MAX: ULIMITED</b></h6>
                        <h6 class='text-muted'><b>DURATION: 24HRS</b></h6>
                        <h6 class='text-muted'><b>10% REFERAL BONUS</b></h6>
                    </li>
                    <!--<li><span style="color: #03811c;"> Trades/Day </span><b>4</b></li>-->
                    <li><span style="color: #7f20d8;">Instant Trading</span><b>24/7 Support</b>
                    </li>
                    <li><span style="color:#7f20d8;">99.9% Services </span><b>uptime</b></li>
                    <li>
                        <!-- <button><a href="">DEPOSIT</a></button> -->
                    </li>

                </ul>
            </div>
        </div>
    </section>
    <section>
        <h1 class="payment">CHOOSE PREFERED DEPOSIT METHOD</h1> 
        <div class="hoder-container">
            <div class="holdertwo">
                <label> <h1>Bitcoin</h1></label><br>
                <span class="cc">$<input type="number" placeholder="Enter Amount"  name="amount"></span> 
                <div>
                    <p class="pp">Carefully Copy  wallet Address To make Deposit  </p>
                    <div class="dropdown">
                        <span>Address</span>
                        <div class="dropdown-content">
                            <p> I<button onclick="copyBtn(btcAddress)">copy</button> </p>
                        </div>
                    </div>
                    <button class="sentbnt">Click Sent</button>
                </div>


            </div>
            <div class="holdertwo">
                <label> <h1> BnB Smart Chain</h1></label><br>
                <span class="cc">$<input type="number" placeholder="Enter Amount"  name="amount"></span> 
                <div>
                    <p class="pp">Carefully Copy  wallet Address To make Deposit  </p>
                    <div class="dropdown">
                        <span>Address</span>
                        <div class="dropdown-content">
                            <p>    <button onclick="copyBtn(bnbAddress)">copy</button> </p>
                        </div>
                    </div>
                    <button class="sentbnt">Click Sent</button>
                </div>
                

            </div>
            <div class="holdertwo">
                <label> <h1>Ethereum</h1></label><br>
                <span class="cc">$<input type="number" placeholder="Enter Amount"  name="amount"></span> 
                <div>
                    <p class="pp">Carefully Copy  wallet Address To make Deposit  </p>
                    <div class="dropdown">
                        <span>Address</span>
                        <div class="dropdown-content">
                            <p>    <button onclick="copyBtn(ethAddress)">copy</button> </p>
                        </div>
                    </div>
                    <button class="sentbnt">Click Sent</button>
                </div>
                

            </div>
            <div class="holdertwo">
                <label> <h1>Usdt trc20</h1></label><br>
                <span class="cc">$<input type="number" placeholder="Enter Amount"  name="amount"></span> 
                <div>
                    <p class="pp">Carefully Copy  wallet Address To make Deposit  </p>
                    <div class="dropdown">
                        <span>Address</span>
                        <div class="dropdown-content">
                            <p>    <button onclick="copyBtn(usdtTrcAddress)">copy</button> </p>
                        </div>
                    </div>
                    <button class="sentbnt">Click Sent</button>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="hoder-containerthree">
            <div class="holderthree">
                <label> <h1>Usdt ERC20</h1></label><br>
                <span class="cc">$<input type="number" placeholder="Enter Amount"  name="amount"></span> 
                <div>
                    <p class="pp">Carefully Copy  wallet Address To make Deposit  </p>
                    <div class="dropdown">
                        <span>Address</span>
                        <div class="dropdown-content">
                            <p>    <button onclick="copyBtn(usdtErcAddress)">copy</button> </p>
                        </div>
                    </div>
                    <button class="sentbnt">Click Sent</button>
                </div>
                

            </div>
          
            <div class="holdertwo">
                <label> <h1>Doge Coin</h1></label><br>
                <span class="cc">$<input type="number" placeholder="Enter Amount"  name="amount"></span> 
                <div>
                    <p class="pp">Carefully Copy  wallet Address To make Deposit  </p>
                    <div class="dropdown">
                        <spa >Address</span>
                        <div class="dropdown-content">
                            <p> <button onclick="copyBtn(dogeAddress)">copy</button></p>
                        </div>
                    </div>
                    <button class="sentbnt">click Sent</button>
                </div>
                

            </div>

        </div>
    </section>

    <script>
        let btcAddress = "bc1qvvp3ls9lt65x7hq3st7p8ca9e5e3y089zymzpt"
        let bnbAddress = "0x6ef1850312ca918fef4acdd2139cedf34f25b51a"
        let ethAddress = "0x6ef1850312ca918fef4acdd2139cedf34f25b51a"
        let usdtTrcAddress = "TJFKdMntZMXPmdeVQ5QikKA2bNvKSs3Unf"
        let usdtErcAddress = "0x6ef1850312ca918fef4acdd2139cedf34f25b51a"
        let dogeAddress = "D6SZftGHPP9939woLnpLyfvAV72BDUvEFb"
        function copyBtn(style){
            navigator.clipboard.writeText(style)
        }
    </script>
</body>

</html>