<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>stock ExpressTrade.ltd</title>
    <link rel="icon" href="./img/IMG-20230717-WA0002.jpg">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
        content="initial-scale=1, width=device-width, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <!--
    CSS
    ==================================================
    -->
    <!-- Bootstrap-->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Animation-->
    <link rel="stylesheet" href="css/animate.css">
    <!-- Template styles-->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/morris.css">
    <!-- Responsive styles-->
    <link rel="stylesheet" href="css/responsive.css">
    <!-- FontAwesome-->
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <!-- Icon font-->
    <link rel="stylesheet" href="css/icon-font.css">
    <!-- Owl Carousel-->
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <!-- Colorbox-->
    <link rel="stylesheet" href="css/colorbox.css">
    <!-- font awsome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons'>

    <style>
        .lead {
            font-size: 1rem;
            font-weight: 300;
        }


        .btn-custom {
            color: #bdc3c7;
            font-size: 18px;
            border: 1px solid #bdc3c7;
        }

        .btn-custom:hover {
            color: #ffffff;
            border: 1px solid #ffffff;
        }

        .rounded-lg {
            border-radius: 1rem !important;
        }

        .text-small {
            font-size: 0.9rem !important;
        }

        .custom-separator {
            width: 5rem;
            height: 6px;
            border-radius: 1rem;
        }

        .cah2 {
            color: #0998ec;
            font-size: 20px;
            font-weight: 800;
            text-align: center;
            text-transform: uppercase;
            position: relative;
        }

        .cah2::after {
            content: "";
            width: 100px;
            position: absolute;
            margin: 0 auto;
            height: 4px;
            border-radius: 1px;
            background: #0998ec;
            left: 0;
            right: 0;
            bottom: -20px;
        }

        .carousel_test {
            margin: 50px auto;
            padding: 0 10px;
        }

        .carousel_test .item {
            color: #ffffff;
            overflow: hidden;
            min-height: 120px;
            font-size: 13px;
        }

        .carousel_test .media img {
            width: 40px;
            height: 40px;
            display: block;
            border-radius: 50%;
        }

        .carousel_test .testimonial {
            padding: 0 10px 0 10px;
            position: relative;
        }

        .carousel_test .overview b {
            text-transform: uppercase;
            color: #0998ec;
        }

        @media screen and (max-width: 992px) {
            .me_table::-webkit-scrollbar {
                display: none !important;
                overflow-x: scroll;
            }

            .rem-home {
                padding: 9rem 0 5rem 0;
            }

            @media screen and (max-width: 992px) {
                .rem-home {
                    padding: 6rem 0 5rem 0;
                }
            }

            /* Hide scrollbar for IE and Edge */
            .me-table {
                -ms-overflow-style: none !important;
                overflow-x: scroll;
            }
        }

        .me_icon {
            margin-top: 10px;
            color: #fff;
        }

        .token_rtinfo {
            color: #fff;
            border-radius: 10px;
            box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
            margin-top: -80px;
            padding: 40px 15px;
            background-color: rgba(255, 255, 255, 0.10);
            box-shadow: none !important;
        }

        .token_rt_value {
            padding: 0 25px;
        }

        .me_big {
            font-size: normal !important;
            line-height: normal !important;
        }

        .tradingview-widget-copyright {
            display: none !important;
        }

        .badge {
            border-radius: 50px;
            padding: 0.2rem 1rem;
            color: #fff;
            text-align: center;
        }

        .pricing-rate sup {
            font-size: 24px;
            position: relative;
            left: -20px;
            top: -30px;
        }

        .pricing-rate span {
            font-size: 12px;
            color: #707070;
            text-transform: uppercase;
            right: -600px;
        }

        .pricing-rate {
            font-size: 70px;
            font-weight: 700;
            color: #7f20d8;
            position: relative;
            text-align: center;
        }

        .thatwhat {
            z-index: 99999;
            position: fixed;
            bottom: 0;
            left: 0;
            padding-left: 20px;
            padding-bottom: 20px;
        }

        .thatwhat img {
            height: 60px;
            width: 60px;
        }
    </style>

    <style>
        * {
            box-sizing: border-box;
        }

        #google_translate_element {
            z-index: 9999999;
            position: fixed;
            bottom: 25px;
            left: 15px;
        }

        .goog-te-gadget {
            font-family: Roboto, "Open Sans", sans-serif !important;
            text-transform: uppercase;
        }

        .goog-te-gadget-simple {
            background-color: rgba(0, 39, 75, 0.5) !important;
            border: 1px solid rgba(255, 255, 255, 0.5) !important;
            padding: 3px !important;
            border-radius: 4px !important;
            font-size: 0.8rem !important;
            line-height: 2rem !important;
            display: inline-block;
            cursor: pointer;
            zoom: 1;
            margin-bottom: 4px;
        }

        .goog-te-menu2 {
            max-width: 100%;
        }

        .goog-te-menu-value {
            color: #fff !important;
        }

        .goog-te-menu-value:before {
            font-family: 'Material Icons';
            content: "\E927";
            margin-right: 16px;
            font-size: 2rem;
            vertical-align: -10px;
        }

        .goog-te-menu-value span:nth-child(5) {
            display: none;
        }

        .goog-te-menu-value span:nth-child(3) {
            border: none !important;
            font-family: 'Material Icons';
        }

        .goog-te-menu-value span:nth-child(3):after {
            font-family: 'Material Icons';
            content: "\E5C5";
            font-size: 1.5rem;
            vertical-align: -6px;
        }

        .goog-te-gadget-icon {
            background-position: 0px 0px;
            height: 32px !important;
            width: 32px !important;
            margin-right: 8px !important;
            display: none;
        }

        .goog-te-banner-frame.skiptranslate {
            display: none !important;
        }

        body {
            top: 0px !important;
        }

        /* ================================== *\
    Mediaqueries
\* ================================== */

        @media (max-width: 667px) {
            /* #google_translate_element {}

            #google_translate_element goog-te-gadget {}

            #google_translate_element .skiptranslate {} */

            #google_translate_element .goog-te-gadget-simple {
                text-align: center;
            }
        }


        @media screen and (max-width:270) {
            .imgm{
                margin-top: -10;
                width: 40px;
            }
        }
    </style>

    <style>
        .xp {
            top: 60%;
            width: 100%;
            vertical-align: middle;
            position: absolute;
        }

        .xloader {
            position: absolute;
            top: 50%;
            left: 50%;
            bottom: 0;
            margin-top: -35px;
            margin-left: -35px;
            border: 5px solid #2154cf;
            border-radius: 50%;
            border-top: 5px solid #fec107;
            width: 70px;
            height: 70px;
            -webkit-animation: spin 2s linear infinite;
            /* Safari */
            animation: spin 2s linear infinite;
        }

        /* Safari */

        @-webkit-keyframes spin {
            0% {
                -webkit-transform: rotate(0deg);
            }

            100% {
                -webkit-transform: rotate(360deg);
            }
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    </style>



    <script type="text/javascript">
        function hide_loader() {
            document.getElementById("loader").style.display = "none";
        }

        window.onload = hide_loader; 
    </script>

</head>

<body>

    <div class="body-inner">
        <div id="loader">

        </div>

        <div class="site-top">
            <header class="header nav-down header-solid" id="header-2">
                <div class="container">
                    <div class="row">
                        <div class="logo-area clearfix logo-wrapper logo-absolute">
                            <div class="logo col-lg-3 col-md-12" style="text-align: left;">
                                <a href="/" style="z-index: 999999999;">
                                    <img class="imgm" src="img/IMG-20230717-WA0002.jpg" alt=""
                                        style="width: 40px;  margin-top: -5px; border-radius: 20px; ">
                                </a><br>
                                
                            </div>
                            <!-- logo end-->
                            <div class="col-lg-9 col-md-12 pull-right">
                                <ul class="top-info top-info-wrraper">

                                    <li><span class="info-icon"><i class="fa-regular fa-envelope"></i></span>
                                        <div class="info-wrapper">
                                            <p class="info-title">support@stockExpressTrade.ltd</p>
                                            <p class="info-subtitle">Send us mail</p>
                                        </div>
                                    </li>
                                    <%if(status){%>
                
                                        <li class="header-get-a-quote">
                                            <a class="btn btn-primary"  style="background-color: #0c043a;" href="/logout">Logout</a>
    
                                        </li>
                                        <li class="header-get-a-quote">
                                            <a class="btn btn-primary"  style="background-color: #0c043a;" href="/dashboard">Dashboard</a>
    
                                        </li>
                                   <% }else{%>
                                        <li class="header-get-a-quote">
                                            <a class="btn btn-primary"  style="background-color: #0c043a;" href="/login">Login</a>

                                        </li>
                                    <%}%>
                                    
                                </ul>
                            </div>
                            <!-- Col End-->
                        </div>
                        <!-- Logo Area End-->
                    </div>
                </div>
                <!-- Container end-->
                <div class="site-nav-inner site-navigation navdown nav-transparent">
                    <div class="container">
                        <nav class="navbar navbar-expand-lg justify-content-end">
                            <a class="btn btn-primary d-md-none"
                                style='padding: 6px 10px; border-radius: 5px; margin-right: 3px;' href="/login"><i
                                    class='fa fa-sign-in'></i> Login</a>
                            <a class="btn btn-success d-md-none" style='padding: 6px 10px; border-radius: 5px;'
                                href="/register.html"><i class='fa fa-user-plus'></i></a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"><i class="icon icon-menu"></i></span>
                            </button>
                            <!-- End of Navbar toggler-->
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                        <a href="/">Home</a>
                                    </li>
                                    <li class="nav-item dropdown"><a class="nav-link" href="#"
                                            data-toggle="dropdown">About<i class="fa fa-angle-down"></i></a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="/about">About Us</a></li>
                                        </ul>
                                    </li>
                                    <!--  <li class="nav-item">
                                        <a href="/about">About Us</a>
                                    </li>-->

                                    <li class="nav-item dropdown"><a class="nav-link" href="#"
                                            data-toggle="dropdown">Investments<i class="fa fa-angle-down"></i></a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="/deposit">Plans</a></li>



                                        </ul>
                                    </li>



                                    <li class="nav-item dropdown"><a class="nav-link" href="#"
                                            data-toggle="dropdown">FAQs<i class="fa fa-angle-down"></i></a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="/dashboard">FAQs</a></li>

                                        </ul>
                                    </li>

                                    <li class="nav-item">
                                        <a href="/dashboard">Support</a>
                                    </li>

                                    <!-- li end
                                    <li class="nav-item">
                                        <a href="/privacy">Policy</a> -->
                                    <!-- </li>-->
                                    <!-- <li class="nav-item dropdown"><a class="nav-link" href="#"
                                            data-toggle="dropdown">Policy<i class="fa fa-angle-down"></i></a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="/privacy">Policy</a></li>





                                        </ul>
                                    </li> -->




                                    <li class="nav-item">
                                        <a href="/signup">Sign Up</a>
                                    </li>
                                </ul>
                                <!--Nav ul end-->
                            </div>
                        </nav>
                    </div>
                </div>
                <!-- Site nav inner end-->
            </header>
            <!-- Header end-->
        </div>
        <div id="box-slide" class="owl-carousel owl-theme page-slider mrt-110">

            <div class="item" style="background-image:url(img/trading_person.jpg)">
                <div class="container">
                    <div class="box-slider-content">
                        <div class="box-slider-text animated">
                            <h2 class="box-slide-title">Take A Bold Step</h2>
                            <h3 class="box-slide-sub-title">To Change Your World</h3>
                            <p class="box-slide-description" style="color:white; font-weight:700">You have dreams. We
                                have a culturally diverse, forward thinking team ready to help you achieve your dreams.

                            </p>
                            <p>
                                <a href="/signup" class="slider btn btn-success" style="background-color:#0c043a;">Get
                                    Started</a>
                                <a href="/about" class="slider btn btn-border">Know More</a>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Item 1 end -->

            <div class="item" style="background-image:url(img/slider_Two_two.jpg)">
                <div class="container">
                    <div class="box-slider-content">
                        <div class="box-slider-text animated">
                            <h2 class="box-slide-title">We are the Leaders</h2>
                            <h3 class="box-slide-sub-title">In Bitcoin Trade</h3>
                            <p class="box-slide-description" style="color:white; font-weight:700">
                                We help our investors make the best out of cryptocurrency innovation through our team of
                                expert traders.
                            </p>
                            <p>
                                <a href="/signup" class="slider btn btn-success" style="background-color:#0c043a;">Get
                                    Started</a>

                                <a href="/about" class="slider btn btn-border">Know More</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Item 2 end -->


            <!-- Item 3 end -->
        </div>

        <section class="ts-features-col" style="margin-bottom: 0px;">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div style=" width: 100%;">
                            <div
                                style="width: 100%; background-color: #FFFFFF; overflow:hidden; box-sizing: border-box; text-align: right; line-height:14px; font-size: 12px; box-sizing:content-box; font-feature-settings: normal; text-size-adjust: 100%; padding:1px;padding: 0px; margin: 0px;">
                                <div style="height:40px;">
                                    <embed
                                        src="https://widget.coinlib.io/widget?type=horizontal_v2&theme=light&pref_coin_id=1505&invert_hover="
                                        width="100%" height="36" scrolling="auto" marginwidth="0" marginheight="0"
                                        frameborder="0" border="0" style="border:0;margin:0;padding:0;" />

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <link rel="stylesheet" href="css/vegas.min.css">
        <link rel="stylesheet" href="css/poppay.css">
        <link rel="stylesheet" href="css/w3.css">


        <section class="ts-features-col" style='padding-bottom: 2px;'>
            <div class="container">
                <div class="row">
                    <img src="img/pexel1.png" alt="" style="overflow: hidden">
                    <div class="col-lg-4">
                        <div class="feature-text-box">
                            <h2 class="column-title"><span>We are the best in Finance</span>UNLIMITED ASSET





                                
                            </h2>
                        </div>



                        <p>
                            We are everything a traditional financial institution is not. We set out to give investors
                            better, simpler and more profitable ways to become financially successful and secure.
                        </p>
                        <a href="/about" class="btn btn-primary" style="background-color:#7f20d8;">Read More</a>


                    </div>
                    <!-- Col end-->
                    <div class="col-lg-4">
                        <div class="ts-feature text-center box-primary" style="background-color:#7f20d8;">
                            <div class="ts-feature-info">
                                <h3 class="ts-feature-title">Trade An Asset</h3>
                                <p>We offer various assets ranging from cryptocurrencies, to forex, commodities,
                                    indexes, stocks, ETFs, and the all new Pre-IPOs.</p>
                            </div>
                        </div>
                        <!-- feature 2 end-->
                    </div>
                    <!-- Col end-->

                    <div class="col-lg-4">
                        <div class="ts-feature text-center box-secondary" style="background-color:#7f20d8;">
                            <div class="ts-feature-info">
                                <h3 class="ts-feature-title">Build A Portfolio</h3>
                                <p>We also offer portfolios which allow you to invest in more than one asset class at a
                                    time. Portfolios are a great options if you want more.</p>
                            </div>
                        </div>
                        <!-- feature 3 end-->
                    </div>



                    <div class="col-lg-4">
                        <div class="ts-feature text-center box-secondary"  style="background-color:#7f20d8 ">
                            <div class="ts-feature-info">
                                <h3 class="ts-feature-title">Professional financial management</h3>
                                <p>

                                    Our analysts and traders are professionals with extensive experience in this field
                                    using the help of artificial intelligence and robotics trading we predict accurately
                                    market behavior.</p>
                            </div>
                        </div>
                        <!-- feature 3 end-->
                    </div>


                    <!-- Col end-->
                </div>
                <!-- Row end-->
            </div>
            <!-- Container end-->
        </section>

        <style>
            .about-us {
                background-color: #f7f7f7;
            }

            @media only screen and (min-width: 992px) {
                .about-us {
                    background-image: url(images/pages/about_2.png);
                    background-position: right center;
                    background-repeat: no-repeat;
                }
            }
        </style>

        <section id="about-us" class="about-us">
            <div class="container">
                <div class="row">

                    <div class="col-lg-6">
                        <h2 class="column-title title-small"><span>About us</span>We have been known to give investors
                            the better choice.</h2>
                        <p style="color:black">With over 153,000 investments under our management, $5 billion+ in assets
                            under our administration, over 11 industry awards, we have made universalaccess.ltd the safe
                            haven for investors who want to trust their financial partner
                            to be capable of helping them reach their financial goals, and in due time, without the fear
                            of disappointments.</p>
                        <div class="gap-15"></div>

                        <div class="col-md-12 align-self-center">
                            <a class="btn btn-primary" href="/about" style="background-color:#7f20d8;"> Read More</a>
                        </div>
                        <!-- Col end-->
                    </div>
                </div>

            </div>
                  <br>
            <div class="col-lg-6 align-self-center">
                <img class="img-fluid" src="img/bicoinimgfor you.jpg" alt="" style="height:300px; width:100%">
            </div>
        </section>







        <!-- Section Features -->



        <section class="ts-features no-padding">
            <div class="container-fluid">
                <div class='row'>
                    <div class="col-md-12">
                        <h2 class="column-title title-small text-center">3 Simple Steps</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 feature-box1" style="background-image: url(images/features/feature1.jpg);">
                        <div class="ts-feature text-center">
                            <div class="ts-feature-info">
                                <h3 class="ts-feature-title">Create An Account</h3>
                                <p><a href='/register' class="text-warning">Sign up</a> for an account with us to get
                                    started, it is easy and simple.</p>
                            </div>
                        </div>
                        <!-- feature 1 end-->
                    </div>
                    <!-- Col end-->
                    <div class="col-lg-4 feature-box2" style="background-image: url(images/features/feature2.jpg);">
                        <div class="ts-feature text-center">
                            <div class="ts-feature-info">
                                <h3 class="ts-feature-title">Make Deposit</h3>
                                <p>Deposit into any of our investment plans of your choice.</p>
                            </div>
                        </div>
                        <!-- feature 2 end-->
                    </div>
                    <!-- Col end-->
                    <div class="col-lg-4 feature-box3" style="background-image: url(images/features/feature3.jpg);">
                        <div class="ts-feature text-center">
                            <div class="ts-feature-info">
                                <h3 class="ts-feature-title">Make Withdrawal</h3>
                                <p>You can withdraw as soon as your investment duration is completed.</p>
                            </div>
                        </div>
                        <!-- feature 3 end-->
                    </div>
                    <!-- Col end-->
                </div>
                <!-- Row end-->
            </div>
            <!-- Container end-->
        </section>

        <!-- Section Team -->




        <div class="banner-area" id="banner-area" style="background-image:url(images/slider/tradingplaen.jpg);">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col">
                        <div class="banner-heading">
                            <h1 class="banner-title">Trading Plans</h1>
                        </div>
                    </div>
                    <!-- Col end-->
                </div>
                <!-- Row end-->
            </div>
            <!-- Container end-->
        </div>
        <section class="main-container" id="main-container" style="padding-top: 0px;">

            <div class="ts-price-box solid-bg" style="margin-top: 0px;">
                <div class="container">
                    <div class="row text-center">
                        <div class="col-md-12">
                            <h2 class="section-title"><span>Investment</span>Plans</h2>
                        </div>
                        <!-- Col End -->
                    </div>

                    <div class="row" style='margin-bottom: 40px;'>

                        <div class="col-lg-12">
                            <div class="pricing-boxed">


                                <div class="single-price-box ">
                                    <div class="pricing-plan">
                                        <div class="pricing-header border-left" style='background-color: #7f20d8;'>
                                            <!-- TradingView Widget BEGIN -->
                                            <div class="tradingview-widget-container">
                                                <div class="tradingview-widget-container__widget"></div>
                                                <div class="tradingview-widget-copyright"><a
                                                        href="https://www.tradingview.com/symbols/EURUSD/?exchange=FX"
                                                        rel="noopener" target="_blank"><span class="blue-text">EURUSD
                                                            Rates</span></a> by TradingView</div>
                                                <script type="text/javascript"
                                                    src="https://s3.tradingview.com/external-embedding/embed-widget-single-quote.js"
                                                    async>
                                                        {
                                                            "symbol": "FX:EURUSD",
                                                                "width": "100%",
                                                                    "colorTheme": "light",
                                                                        "isTransparent": false,
                                                                            "locale": "en"
                                                        }
                                                    </script>
                                            </div>
                                            <!-- TradingView Widget END -->
                                            <h3 class="plan-price">
                                                <strong>STANDARD PLAN</strong>
                                            </h3>
                                            <!--<h2 class="plan-name">3% Daily For 5 Days</h2>-->
                                        </div>

                                        <ul class="list-unstyled">
                                            <li>
                                                <h6 class='text-muted'><b>5%</b></h6>
                                                <h6 class='text-muted'><b>MINI: $100</b></h6>
                                                <h6 class='text-muted'><b>MAX: $2999</b></h6>
                                                <h6 class='text-muted'><b>DURATION: 24HRS</b></h6>
                                                <h6 class='text-muted'><b>3% REFERAL BONUS</b></h6>
                                            </li>
                                            <!--<li><span style="color: #03811c;"> Trades/Day </span><b>4</b></li>-->
                                            <li><span style="color: #7f20d8;">Instant Trading</span><b>24/7 Support</b>
                                            </li>
                                            <li><span style="color:#7f20d8;">99.9% Services </span><b>uptime</b></li>

                                        </ul>
                                        <div>
                                            <a href="/deposit" class="btn btn-primary"
                                                style='background-color: #7f20d8;'>Invest</a>
                                        </div>

                                    </div>
                                </div>

                                <div class="single-price-box featured">
                                    <div class="pricing-plan">
                                        <div class="pricing-header border-left" style='background-color: #7f20d8;'>
                                            <!-- TradingView Widget BEGIN -->
                                            <div class="tradingview-widget-container">
                                                <div class="tradingview-widget-container__widget"></div>
                                                <div class="tradingview-widget-copyright"><a
                                                        href="https://www.tradingview.com/symbols/EURUSD/?exchange=FX"
                                                        rel="noopener" target="_blank"><span class="blue-text">EURUSD
                                                            Rates</span></a> by TradingView</div>
                                                <script type="text/javascript"
                                                    src="https://s3.tradingview.com/external-embedding/embed-widget-single-quote.js"
                                                    async>
                                                        {
                                                            "symbol": "FX:EURUSD",
                                                                "width": "100%",
                                                                    "colorTheme": "light",
                                                                        "isTransparent": false,
                                                                            "locale": "en"
                                                        }
                                                    </script>
                                            </div>
                                            <!-- TradingView Widget END -->
                                            <h3 class="plan-price">
                                                <strong>PREMIUM PLAN</strong>
                                            </h3>
                                        </div>
                                        <ul class="list-unstyled">
                                            <li>
                                                <h6 class='text-muted'><b>10%</b></h6>
                                                <h6 class='text-muted'><b>MINI: $3,000</b></h6>
                                                <h6 class='text-muted'><b>MAX: $9,999</b></h6>
                                                <h6 class='text-muted'><b>DURATION: 48HRS</b></h6>
                                                <h6 class='text-muted'><b>5% REFERRAL BONUS</b></h6>
                                            </li>

                                            <li><span style="color: #7f20d8;">Instant Trading</span><b>24/7 Support</b>
                                            </li>
                                            <li><span style="color: #7f20d8;">100% Services </span><b>uptime</b></li>

                                        </ul>
                                        <div>
                                            <a href="/deposit" class="btn btn-primary"
                                                style='background-color: #7f20d8;'>Invest</a>
                                        </div>

                                    </div>
                                </div>

                                <div class="single-price-box ">
                                    <div class="pricing-plan">
                                        <div class="pricing-header border-left" style='background-color: #7f20d8;;'>
                                            <!-- TradingView Widget BEGIN -->
                                            <div class="tradingview-widget-container">
                                                <div class="tradingview-widget-container__widget"></div>
                                                <div class="tradingview-widget-copyright"><a
                                                        href="https://www.tradingview.com/symbols/EURUSD/?exchange=FX"
                                                        rel="noopener" target="_blank"><span class="blue-text">EURUSD
                                                            Rates</span></a> by TradingView</div>
                                                <script type="text/javascript"
                                                    src="https://s3.tradingview.com/external-embedding/embed-widget-single-quote.js"
                                                    async>
                                                        {
                                                            "symbol": "FX:EURUSD",
                                                                "width": "100%",
                                                                    "colorTheme": "light",
                                                                        "isTransparent": false,
                                                                            "locale": "en"
                                                        }
                                                    </script>
                                            </div>
                                            <!-- TradingView Widget END -->
                                            <h3 class="plan-price">
                                                <strong>ULTRA PLAN</strong>
                                            </h3>
                                        </div>
                                        <ul class="list-unstyled">
                                            <li>
                                                <h6 class='text-muted'><b>15%</b></h6>
                                                <h6 class='text-muted'><b>MINI: $10,000</b></h6>
                                                <h6 class='text-muted'><b>MAX: $49,999</b></h6>
                                                <h6 class='text-muted'><b>DURATION: 72HRS</b></h6>
                                                <h6 class='text-muted'><b>10% REFERAL BONUS</b></h6>


                                            </li>

                                            <li><span style="color: #7f20d8;">Instant Trading</span><b>24/7 Support</b>
                                            </li>
                                            <li><span style="color: #7f20d8;">100% Services </span><b>uptime</b></li>

                                        </ul>
                                        <div>
                                            <a href="/deposit" class="btn btn-primary"
                                                style='background-color:#7f20d8;'>Invest</a>
                                        </div>
                                    </div>
                                </div>





                                <div class="single-price-box ">
                                    <div class="pricing-plan">
                                        <div class="pricing-header border-left" style='background-color: #7f20d8;'>
                                            <!-- TradingView Widget BEGIN -->
                                            <div class="tradingview-widget-container">
                                                <div class="tradingview-widget-container__widget"></div>
                                                <div class="tradingview-widget-copyright"><a
                                                        href="https://www.tradingview.com/symbols/EURUSD/?exchange=FX"
                                                        rel="noopener" target="_blank"><span class="blue-text">EURUSD
                                                            Rates</span></a> by TradingView</div>
                                                <script type="text/javascript"
                                                    src="https://s3.tradingview.com/external-embedding/embed-widget-single-quote.js"
                                                    async>
                                                        {
                                                            "symbol": "FX:EURUSD",
                                                                "width": "100%",
                                                                    "colorTheme": "light",
                                                                        "isTransparent": false,
                                                                            "locale": "en"
                                                        }
                                                    </script>
                                            </div>
                                            <!-- TradingView Widget END -->
                                            <h3 class="plan-price">
                                                <strong>VIP PLAN</strong>
                                            </h3>
                                        </div>
                                        <ul class="list-unstyled">
                                            <li>
                                                <h6 class='text-muted'><b>20%</b></h6>
                                                <h6 class='text-muted'><b>MINI: $50,000</b></h6>
                                                <h6 class='text-muted'><b>MAX: UNLIMITED</b></h6>
                                                <h6 class='text-muted'><b>DURATION: 120HRS</b></h6>
                                                <h6 class='text-muted'><b>10% REFERRAL BONUS</b></h6>
                                            </li>

                                            <li><span style="color: #7f20d8;;">Instant Trading</span><b>24/7 Support</b>
                                            </li>
                                            <li><span style="color: #7f20d8;;">100% Services </span><b>uptime</b></li>

                                        </ul>
                                        <div>
                                            <a href="/deposit" class="btn btn-primary"
                                                style='background-color: #7f20d8;'>Invest</a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- TradingView Widget BEGIN -->








            <!-- Section Features -->
            <section class="ts-featured-cases">
                <div class="container">
                    <div class="section-title-vertical">
                        <h2 class="section-title">Featured Services</h2>
                    </div>
                    <!-- Title row end-->
                    <div class="row">
                        <div class="owl-carousel owl-theme featured-cases-slide" id="featured-cases-slide">
                            <div class="item">
                                <div class="featured-projects-content">
                                    <div class="featured-projects-text float-left">
                                        <h2 class="column-title"> The Non-farm Payrolls(NFP)</h2>
                                        <p class="intro-desc">The Non-farm payrolls report is one of the most
                                            anticipated economic news reports in the forex markets. It is published the
                                            first Friday of the month at 8:30AM Eastern time by the U.S. Bureau of labor
                                            statistics.
                                            The data release actually includes a number of statistics, and not just the
                                            NFP(which is the change in the number of employees in the country, not
                                            including farm, government, private and non- profit employees.).
                                            Another metric included in the data release is the unemployment rate. As one
                                            of the most anticipated economic news events of the months, Integrated
                                            Binary Options Services focus mainly on currency pairs(especially
                                            those involving the U.S. Dollar) and typically see big price movements in
                                            the minutes and hours after the data is released. This makes it a great
                                            opportunity for our traders with a sound strategy to take advantage
                                            of the volatility.</p>
                                    </div>
                                    <div class="features-slider-img float-right">
                                        <img class="img-fluid" src="images/slider-small/featured-slider1.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                            <!-- Item 1 end-->
                            <div class="item">
                                <div class="featured-projects-content">
                                    <div class="featured-projects-text pull-left">
                                        <h2 class="column-title">Get A Loan</h2>
                                        <p class="intro-desc">Getting a loan doesn’t have to be intimidating, with the
                                            right lender it can be a simple process. You only need a lender committed to
                                            taking the mystery out of the mortgage loan process! At universalaccess.ltd,
                                            DGS we understand! Our investors want simple facts, honest answers and
                                            competitive products. DGS automatically offers loan services to investors
                                            with over $50,000 investment either in our normal universalaccess.ltd
                                            financial Services packages or the NFP plans. Investors over $50,000 are
                                            entitled to loans of $200,000-1millon dollars yearly with 5% paid monthly,
                                            or the investor could wish to compound the interest till the
                                            time limit, provided all required information and identity of the investor
                                            are duly confirmed by the universalaccess.ltd loan board. Every investor
                                            above $50,000 is provided with a personal account manager and
                                            the investor has a direct communication with the manager in order to see
                                            that our loan offers are secured. GREAT INVESTING WITH THE
                                            universalaccess.ltd FAMILY</p>
                                    </div>
                                    <div class="features-slider-img pull-right">
                                        <img src="images/slider-small/featured-slider2.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                            <!-- Item 3 end-->
                        </div>
                        <!-- Featured Projects slider end-->
                    </div>
                    <!-- Content row end-->
                </div>
                <!-- Container end-->
            </section>

            <section class="bg-overlay ts-chart">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <h2 class="column-title title-white"><span>Welcome to stock ExpressTrade.ltd</span> You can
                                trust us to help make your financial dream come true</h2>
                            <p class="intro-desc">We are your trustworthy financial partner. We're trusted by over
                                49,666 successful investors from across the world. We want you to be on that list.</p>
                        </div>

                        <div class="col-md-4">
                            <img class="img-center img-fluid" src="images/hs/md.jpeg" alt="">
                        </div>

                        <div class="col-md-4">
                            <img class="img-center img-fluid" src="images/hs/md2.jpeg" alt="">
                        </div>


                    </div>
                    <!-- col end-->
                    <!-- Col end-->
                    <!-- Content row end-->
                </div>
                <!-- Container end-->
            </section>

            <section id="call-to-action" class="call-to-action solid-bg" style="padding-bottom: 0px;">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 align-self-center">
                            <h3 class="call-to-action-title">We Offer Financial Strategies &amp; Superior Services</h3>
                            <p>
                                Our mission is to provide quality guidance, build relationships of
                                <br> trust, and develop innovative solutions
                            </p>
                        </div>
                        <div class="col-lg-4 text-right">
                            <a class="btn btn-primary" href="/dashboard" style="background-color:#7f20d8;">Open
                                Account</a>
                        </div>
                    </div>
                </div>
            </section>
            <!-- TradingView Widget BEGIN -->
            <div class="tradingview-widget-container">
                <div class="tradingview-widget-container__widget"></div>
                <div class="tradingview-widget-copyright"><a
                        href="https://www.tradingview.com/markets/currencies/forex-cross-rates/" rel="noopener"
                        target="_blank"><span class="blue-text">Exchange Rates</span></a> by TradingView</div>
                <script type="text/javascript"
                    src="https://s3.tradingview.com/external-embedding/embed-widget-forex-cross-rates.js" async>
                        {
                            "width": "100%",
                                "height": "100%",
                                    "currencies": [
                                        "EUR",
                                        "USD",
                                        "JPY",
                                        "GBP",
                                        "CHF",
                                        "AUD",
                                        "CAD",
                                        "NZD",
                                        "CNY"
                                    ],
                                        "isTransparent": false,
                                            "colorTheme": "light",
                                                "locale": "en"
                        }
                    </script>
            </div>
            <!-- TradingView Widget END -->

            <!-- TESTIMONY TIME -->
            <div class="testimony_outer">
                <div class="container" style="position: relative; top: 80px; height: auto; margin-bottom: 70px;">
                    <h2 class="text-center t_heading my-0 py-0" data-aos="fade-down" data-aos-duration="1000">Services
                        We Engage In</h2>
                    <div class="row mt-3">
                        <div class="col-12 col-lg-6 pt-2 mt-5" data-aos="fade-up" data-aos-duration="1000">
                            <div class="row">
                                <div class="col-6">
                                    <img class="test_image" src="img/trading_signal.jpg" alt="user"
                                        style="width:180px; height:200px" />
                                </div>
                                <div class="col-6 ml-0 pl-0">
                                    <h3>Forex Trading</h3>
                                    <p1 class="test_details" style="color:black, font-weight:900">Forex or Fx is an
                                        acronym of Foreign Exchange and Forex trading means to trade on this market.
                                        Trading takes place by predicting how one currency performs against another in a
                                        Forex pair.</p1>
                                    <br /><br />

                                </div>
                            </div>
                        </div>

                        <!-- SECOND PERSON -->
                        <div class="col-12 col-lg-6 pt-2 mt-5" data-aos="fade-up" data-aos-duration="1000">
                            <div class="row">
                                <div class="col-6">
                                    <img class="test_image" src="img/cyrpto.jpg" alt="user"
                                        style="width:180px; height:200px" />
                                </div>
                                <div class="col-6 ml-0 pl-0">
                                    <h3>Cryptocurrencies Trading</h3>
                                    <p1 style="color:black, font-weight:900" class="test_details">Cryptocurrencies are
                                        sets of software protocols for generating digital tokens and for tracking
                                        transactions in a way that makes it hard to counterfeit or re-use tokens.</p1>
                                    <br /><br />

                                </div>
                            </div>
                        </div>

                        <!-- THIRD PERSON -->
                        <div class="col-12 col-lg-6 pt-2 mt-5" data-aos="fade-up" data-aos-duration="1000">
                            <div class="row">
                                <div class="col-6">
                                    <img class="test_image" src="img/analysis.jpg" style="width:180px; height:200px"
                                        alt="user" />
                                </div>
                                <div class="col-6 ml-0 pl-0">
                                    <h3>Escrow Services</h3>
                                    <p1 style="color:black, font-weight:900" class="test_details">Escrow is a legal
                                        arrangement in which a third party temporarily holds money or property until a
                                        particular condition has been met (such as the fulfillment of a purchase
                                        agreement).</p1>
                                    <br /><br />

                                </div>
                            </div>
                        </div>

                        <!-- FOURTH PERSON -->
                        <div class="col-12 col-lg-6 pt-2 mt-5" data-aos="fade-up" data-aos-duration="1000">
                            <div class="row">
                                <div class="col-6">
                                    <img class="test_image" src="img/realestate.jpg" style="width:180px; height:200px"
                                        alt="user" />
                                </div>
                                <div class="col-6 ml-0 pl-0">
                                    <h3>Real Estate Management</h3>
                                    <p1 class="test_details" style="color:black, font-weight:900">We introduced the
                                        customer relationship management (CRM) system in maintaining a fantastic
                                        business relationship with our real estate clients. We also digitalized
                                        investments on our various real estate holdings to encompass
                                        a wider investment population which is a hull mark on our obvious financial
                                        progress.</p1>
                                    <br /><br />

                                </div>
                            </div>
                        </div>

                        <!-- FIFTH PERSON -->
                        <div class="col-12 col-lg-6 pt-2 mt-5" data-aos="fade-up" data-aos-duration="1000">
                            <div class="row">
                                <div class="col-6">
                                    <img class="test_image" src="img/bitcoin.jpg" style="width:180px; height:200px"
                                        alt="user" />
                                </div>
                                <div class="col-6 ml-0 pl-0">
                                    <h3>Bitcoin Mining</h3>
                                    <p1 class="test_details" style="color:black, font-weight:900">Bitcoin mining is an
                                        essential component of the Bitcoin network, as it helps to maintain the security
                                        and integrity of the blockchain by ensuring that transactions are valid and
                                        immutable. However, the mining process
                                        is energy-intensive and requires significant computational resources, which has
                                        led to concerns about its environmental impact.</p1>
                                    <br /><br />

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>



        <style>
            div.gallery {
                margin: 5px;
                border: 1px solid #ccc;
                float: left;
                width: 180px;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                margin: 0 auto;
            }

            div.gallery:hover {
                border: 1px solid #777;
            }

            div.gallery img {
                width: 100%;
                height: auto;
            }

            div.desc {
                padding: 15px;
                text-align: center;
            }

            @media screen and (max-width: 768px) {
                .gallery a {
                    margin-right: 0;
                    margin-bottom: 10px;
                }
            }
        </style>


        <!-- Team Section Begin -->
        <section class="team-section spad">
            <div class="container">



                <div class="gallery">
                    <a target="_blank" href="nft/Beeple Art.jpeg">
                        <img src="nft/Beeple Art.jpg" alt="Beeple Art" width="600" height="400">
                    </a>
                    <h3><a href="">Beeple Art</a></h3>
                    <div class="desc">Current Floor Price<br>(3.50 ETH)</div>
                </div>

                <div class="gallery">
                    <a target="_blank" href="nft/Bored Ape Yacht Club.jpeg">
                        <img src="nft/Bored Ape Yacht Club.jpg" alt="Bored Ape" width="600" height="400">
                    </a>
                    <h3><a href="">Bored Ape Yacht </a></h3>
                    <div class="desc">Current Floor Price<br>(103 ETH)</div>
                </div>

                <div class="gallery">
                    <a target="_blank" href="nft/Summer Nights.jpg">
                        <img src="nft/Summer Nights.jpg" alt="Summer Lights" width="600" height="400">
                    </a>
                    <h3><a href="">Summer Nights</a></h3>
                    <div class="desc">Current Floor Price<br>(2.80 ETH)</div>
                </div>

                <div class="gallery">
                    <a target="_blank" href="nft/clonex.jpg">
                        <img src="nft/clonex.jpg" alt="clonex" width="600" height="400">
                    </a>
                    <h3><a href="">clonex</a></h3>
                    <div class="desc">Current Floor Price<br>(1.00 ETH)</div>
                </div>

                <div class="gallery">
                    <a target="_blank" href="nft/world of women.jpg">
                        <img src="nft/world of women.jpg" alt="world of women" width="600" height="400">
                    </a>
                    <h3><a href="">world of women</a></h3>
                    <div class="desc">Current Floor Price<br>(14.5 ETH)</span>
                    </div>
                </div>

                <div class="gallery">
                    <a target="_blank" href="nft/Tribute To The 500 Greatest Songs Of All Time.jpeg">
                        <img src="nft/Tribute To The 500 Greatest Songs Of All Time.jpg" alt="Tribute Of Time"
                            width="600" height="400">
                    </a>
                    <h3><a href="">Tribute Of Time</a></h3>
                    <div class="desc">Current Floor Price<br>(10.2 ETH)</div>
                </div>



            </div>

        </section>

        <div
            style="height:400px; background-color: #FFFFFF; overflow:hidden; box-sizing: border-box; border: 1px solid #56667F; border-radius: 4px; text-align: right; line-height:14px; font-size: 12px; font-feature-settings: normal; text-size-adjust: 100%; box-shadow: inset 0 -20px 0 0 #56667F; padding: 0px; margin: 0px; width: 100%;">
            <div style="height:413px; padding:0px; margin:0px; width: 100%;">
                <iframe
                    src="https://widget.coinlib.io/widget?type=full_v2&amp;theme=light&amp;cnt=12&amp;pref_coin_id=1505&amp;graph=yes"
                    width="100%" height="790px" scrolling="auto" marginwidth="0" marginheight="0" frameborder="0"
                    border="0" style="border:0;margin:0;padding:0;"></iframe>
            </div>
            <div
                style="color: #FFFFFF; line-height: 14px; font-weight: 400; font-size: 11px; box-sizing: border-box; padding: 2px 6px; width: 100%; font-family: Verdana, Tahoma, Arial, sans-serif;">
            </div>
        </div>

        <!-- Section FAQ -->
        <section class="main-container" id="main-container">

            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="accordion-title">
                            <h3 class="column-title"><span>Our FAQ</span> Frequently Asked Questions</h3>
                        </div>
                        <div class="gap-40"></div>
                        <div id="accordion">
                            <div class="card">
                                <div class="card-header" id="heading1">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link " data-toggle="collapse" data-target="#collapse1"
                                            aria-expanded="true" aria-controls="collapse1">
                                            <p>What is stock stock ExpressTrade.ltd?</p>
                                        </button>
                                    </h5>
                                </div>
                                <div class="collapse show" id="collapse1" aria-labelledby="heading1"
                                    data-parent="#accordion">
                                    <div class="card-body">
                                        <p>stock stock ExpressTrade.ltd our company provides a full investment service focused
                                            on
                                            the bitcoin and cryptocurrency market We are among the best platforms to
                                            invest and grow your bitcoin and other cryptocurrency</p>
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header" id="heading2">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse"
                                            data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                                            <p>How do I create my account?</p>
                                        </button>
                                    </h5>
                                </div>
                                <div class="collapse " id="collapse2" aria-labelledby="heading2"
                                    data-parent="#accordion">
                                    <div class="card-body">
                                        <p>Registration process is very easy and will take a few moments to complete
                                            Simply click CREATE ACCOUNT button and fill in all the required fields</p>
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header" id="heading3">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse"
                                            data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                                            <p>How do I make a deposit?</p>
                                        </button>
                                    </h5>
                                </div>
                                <div class="collapse " id="collapse3" aria-labelledby="heading3"
                                    data-parent="#accordion">
                                    <div class="card-body">
                                        <p>To deposit funds in your trading account is quick and simple For your
                                            convenience you may choose one of the several available deposit methods To
                                            make a successful deposit please follow the steps below Login to your
                                            account Click on the DEPOSITS button in the DASHBOARD section Choose the
                                            deposit option And follow the steps to complete your transaction</p>
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header" id="heading4">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse"
                                            data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                                            <p>How long does my deposit take before it can reflect on my Investments
                                                account dashboard?</p>
                                        </button>
                                    </h5>
                                </div>
                                <div class="collapse " id="collapse4" aria-labelledby="heading4"
                                    data-parent="#accordion">
                                    <div class="card-body">
                                        <p>Your deposit will be reflected immediately once it is confirmed on the
                                            blockchain network</p>
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header" id="heading5">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse"
                                            data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                                            <p>How do I make a withdrawal?</p>
                                        </button>
                                    </h5>
                                </div>
                                <div class="collapse " id="collapse5" aria-labelledby="heading5"
                                    data-parent="#accordion">
                                    <div class="card-body">
                                        <p>To make a withdrawal request click the WITHDRAW button at the top center of
                                            your account dashboard and input the required details to withdraw</p>
                                    </div>
                                </div>
                            </div>



                            <div class="card">
                                <div class="card-header" id="heading6">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse"
                                            data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                                            <p>How long does it take to process my withdrawal?</p>
                                        </button>
                                    </h5>
                                </div>
                                <div class="collapse " id="collapse6" aria-labelledby="heading6"
                                    data-parent="#accordion">
                                    <div class="card-body">
                                        <p>Once we receive your withdrawal request we process immediately and send to
                                            your bitcoin wallet</p>
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header" id="heading7">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse"
                                            data-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                                            <p>Can I have more than one account?</p>
                                        </button>
                                    </h5>
                                </div>
                                <div class="collapse " id="collapse7" aria-labelledby="heading7"
                                    data-parent="#accordion">
                                    <div class="card-body">
                                        <p>No you cannot have more than one account.</p>
                                    </div>
                                </div>
                            </div>


                            <div class="collapse " id="collapse8" aria-labelledby="heading8" data-parent="#accordion">
                                <div class="card-body">
                                    <p>Yes we are officially and properly registered with the New Zealand company house
                                        our company registration number is #1168820</p>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="heading9">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse"
                                        data-target="#collapse9" aria-expanded="false" aria-controls="collapse9">
                                        <p>Can I have more than two accounts?</p>
                                    </button>
                                </h5>
                            </div>
                            <div class="collapse " id="collapse9" aria-labelledby="heading9" data-parent="#accordion">
                                <div class="card-body">
                                    <p>We do not allow multiple accounts.</p>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="heading10">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse"
                                        data-target="#collapse10" aria-expanded="false" aria-controls="collapse10">
                                        <p>how many times can i make a deposit?</p>
                                    </button>
                                </h5>
                            </div>
                            <div class="collapse " id="collapse10" aria-labelledby="heading10" data-parent="#accordion">
                                <div class="card-body">
                                    <p>Yes you can make as many deposit as you want on any of our investment plans.</p>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <!-- col end-->
                <div class="col-lg-4">
                    <div class="help-box" style="background-color:#7f20d8;">
                        <div class="help mrb-40">
                            <h2>Need any help!</h2>
                            <p>
                                Find answers to frequently asked questions about universalaccess.ltd </p><a
                                class="btn btn-primary" href="/support">Contact us</a>
                        </div>
                        <!-- Quote item end-->
                    </div>
                </div>
                <!-- Col end-->
            </div>
            <!-- Row end-->
    </div>
    </section>
    <section class="main-container" id="main-container" style="margin-bottom: 180px;">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <h2 class="section-title"><span>Send Us Message</span>Contact Us</h2>
                </div>
            </div>
            <!-- Title row end-->
        </div>
        <!-- container end-->
        <div class="ts-form form-boxed" id="ts-form">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="contact-wrapper">
                            <div class="contact-box form-box">
                                <form class="contact-form" action="/support" method="POST"><input type="hidden"
                                        name="form_id" value="16827693897647"><input type="hidden" name="form_token"
                                        value="b40c9f71de0a53c38c696fe4dff08ec2"><input type="hidden" name="form_id"
                                        value="16505722291251"><input type="hidden" name="form_token"
                                        value="692461638f631d6d5c00c2a2f719e294"><input type="hidden" name="form_id"
                                        value="16461986134364"><input type="hidden" name="form_token"
                                        value="99f2b7d2151c0f5a9dbf171e8069792c">
                                    <input type=hidden name=a value=support>
                                    <input type=hidden name=action value=send>
                                    <div class="error-container"></div>
                                    <div class="row">
                                        <!-- Col end-->
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <input class="form-control form-email" type="text" name="name" value=""
                                                    placeholder="Enter Name *">
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <input class="form-control form-name" type="text" name="email" value=""
                                                    placeholder="Enter Email">
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <textarea class="form-control form-message required-field"
                                                    placeholder="Message *" name=message class=inpts cols=45
                                                    rows=8></textarea>
                                            </div>
                                        </div>
                                        <!-- Col 12 end-->
                                    </div>
                                    <!-- Form row end-->
                                    <div class="text-right" style="background-color:#7f20d8;;">
                                        <button class="btn btn-primary tw-mt-30" name="send" type="submit"
                                            style="background-color:#7f20d8;">Contact US</button>
                                    </div>
                                </form>
                                <!-- Form end-->
                            </div>
                            <div class="contact-box info-box" style="background-color:#16367a;">
                                <div class="contact-info-right" style="background-color:#16367a;">
                                    <h3>Contact Us</h3>
                                    <div class="ts-contact-info"><span class="ts-contact-icon float-left"><i class="fa-duotone fa-house"></i></span>
                                        <div class="ts-contact-content">
                                            <h3 class="ts-contact-title">Visit Us</h3>
                                            <p>Crescent House, Lever St, Bolton BL3 6NN, United Kingdom
                                            </p>
                                        </div>
                                        <!-- Contact content end-->
                                    </div>

                                    <div class="ts-contact-info last"><span class="ts-contact-icon float-left"><i class="fa-regular fa-envelope"></i></span>
                                        <div class="ts-contact-content">
                                            <h3 class="ts-contact-title">Mail Us</h3>
                                            <p>support@stockExpressTrade.ltd</p>
                                        </div>
                                        <!-- Contact content end-->
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer" id="footer">


        <div class="footer-main bg-overlay">
            <div class="container">
                <!-- TradingView Widget BEGIN -->
                <div class="tradingview-widget-container">
                    <div class="tradingview-widget-container__widget"></div>
                    <div class="tradingview-widget-copyright"><a
                            href="https://www.tradingview.com/symbols/BTCUSDT/technicals/" rel="noopener"
                            target="_blank"><span class="blue-text">Technical Analysis for BTCUSDT</span></a> by
                        TradingView</div>
                    <script type="text/javascript"
                        src="https://s3.tradingview.com/external-embedding/embed-widget-technical-analysis.js" async>
                            {
                                "interval": "1m",
                                    "width": 425,
                                        "isTransparent": false,
                                            "height": 450,
                                                "symbol": "BINANCE:BTCUSDT",
                                                    "showIntervalTabs": true,
                                                        "locale": "en",
                                                            "colorTheme": "light"
                            }
                        </script>
                </div>
                <!-- TradingView Widget END -->
                <div class="row">
                    <div class="col-lg-7 col-md-12 footer-widget footer-about">
                        <div class="footer-logo">
                            <img src="img/universalaccess.ltd png4.png" alt="" style="width: 120px;">
                        </div>
                        <p>We are everything a traditional financial institution is not. We set out to give investors
                            better, simpler and more profitable ways to become financially successful and secure.</p>
                        <div class="footer-social">

                        </div>
                        <!-- Footer social end-->
                    </div>
                    <!-- About us end-->
                    <div class="col-lg-5 col-md-12 footer-widget">
                        <h3 class="widget-title">Useful Links</h3>
                        <ul class="list-dash">
                            <li><a href="/">Home</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Sign Up</a></li>
                            <li><a href="">Login</a></li>

                            <li><a href="/support">Get Support</a></li>
                            <!-- <li><a href="https://app.companiesoffice.govt.nz/co/1168820">Legal</a></li>-->
                            <li><a href="/privacy">Privacy</a></li>
                        </ul>
                    </div>
                </div>




                <div class="row">
                    <!-- About us end-->

                    <div class="col-lg-12 footer-widget">
                        <img src="images/tfc-icon.png" alt="">
                        <div class="newsletter-introtext"><br> stock ExpressTrade.ltd is a member of The Financial
                            Commission, an international organization engaged in the resolution of disputes within the
                            financial services industry in the Forex market.
                        </div>

                    </div>
                    <div class="col-lg-12 footer-widget">
                        <img src="images/sec-logo.png" alt=""><br>
                        <div class="newsletter-introtext"><br> stock ExpressTrade.ltd is regulated by the MI5. The
                            mission
                            of the MI5 is to protect investors; maintain fair, orderly, and efficient markets; and
                            facilitate capital formation. stock ExpressTrade.ltd is an investment company that
                            . Direct access to over 50 financial markets through one account. Any information contained
                            on this website is provided to you for informational purposes only and should not be
                            regarded as an offer or solicitation of an offer
                            to buy or sell any investments or related services that may be referenced here. Investing in
                            certain instruments, including stocks, options, futures, foreign currencies, and bonds.
                            stock ExpressTrade.ltd is a registered investment
                            dealer, a member of the London Stock Exchange (LSE), the Investment Industry Regulatory
                            Organization of Canada (IIROC) and a member of the Canadian Investor Protection Fund (CIPF),
                            the benefits of which are limited to the activities
                            undertaken by stock ExpressTrade.ltd.
                            <p class="footer_para">
                                <b style="color: #28A745;">stock ExpressTrade.ltd</b> brand is authorized and regulated
                                in
                                various jurisdictions.
                            <p class="footer_para"><b>Stock ExpressTrade.ltd</b> Limited is regulated by the Cyprus
                                Securities and Exchange Commission with CIF license number 185/120, licensed by the
                                Financial Sector Conduct Authority (FSCA) of South Africa, with FSP No. 460114.
                                The company is also registered with the Financial Conduct Authority of the UK with
                                number 600475. It is also regulated by MFSA as a MiFID firm and holds a Category 3
                                Investment Services License (License No.:IS/100002)</p>



                        </div>

                    </div>
                </div>


                <!-- Content row end-->
            </div>
            <!-- Container end-->
        </div>
        <!-- Footer Main-->
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="copyright-info"><span>Copyright © 2023 Stock ExpressTrade.ltd. All Rights
                                Reserved.</span></div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="footer-menu">
                            <ul class="nav unstyled">
                                <li><a href="/about">About</a></li>
                                <li><a href="/privacy">Privacy Policy</a></li>

                                <!--<li><a href="https://app.companiesoffice.govt.nz/co/1168820">Legals</a></li>-->
                                <li><a href="/contact">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Row end-->
            </div>
            <!-- Container end-->
        </div>
        <!-- Copyright end-->
    </footer>
    <!--footer section end-->

    <!--bottom to top button end-->
    <div id="google_translate_element"></div>

    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({
                pageLanguage: 'en',
                layout: google.translate.TranslateElement.InlineLayout.SIMPLE,
                autoDisplay: false
            }, 'google_translate_element');
        }
    </script>

    <script type="text/javascript"
        src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <script type="text/javascript" src="js/jquery.js"></script>
    <!-- Popper-->
    <script type="text/javascript" src="js/popper.min.js"></script>
    <!-- Bootstrap jQuery-->
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <!-- Owl Carousel-->
    <script type="text/javascript" src="js/owl.carousel.min.js"></script>
    <!-- Counter-->
    <script type="text/javascript" src="js/jquery.counterup.min.js"></script>
    <!-- Waypoints-->
    <script type="text/javascript" src="js/waypoints.min.js"></script>
    <!-- Color box-->
    <script type="text/javascript" src="js/jquery.colorbox.js"></script>
    <!-- Smoothscroll-->
    <script type="text/javascript" src="js/smoothscroll.js"></script>
    <!-- Google Map API Key-->
    <script type="text/javascript"
        src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCsa2Mi2HqyEcEnM1urFSIGEpvualYjwwM"></script>
    <!-- Google Map Plugin-->
    <script type="text/javascript" src="js/gmap3.js"></script>
    <!-- Template custom-->
    <script type="text/javascript" src="js/custom.js"></script>
    </div>
    <style>
        /* Followed */

        .follow {
            position: fixed;
            left: 10px;
            bottom: 150px;
            text-align: center;
            z-index: 8790082;
        }

        .follow img {
            width: 70px;
            height: 70px;
            border: 2px solid #3F51B5;
            border-radius: 100%;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
            padding: 5px;
            background: #fff;
        }
    </style>


    <div class="follow">
        <!-- <a href="https://wa.me/message/XHNKAQZ2TO72M1" target="_blank">
            <img src="p.png" alt="WhatsApp" />

        </a> -->
    </div>



</body>
<!-- <script src="//code.tidio.co/bqvagkwhavgqewa08wtwn5abmjswxqa8.js" async></script> -->
<script src="//code.tidio.co/1lmwruvjepdpemfgvmahd2tkcwr5wunz.js"
async></script>

</html>