<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reset password</title>

    <style>
        body{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
         .reset-container{
            height: 200px;
            width: 400px;
            background-color: #faf9f6;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            justify-content: center;
            align-items: center;

         }
         .reset-email{
            border: none;
            background-color: #fff;
            height: 50px;
            width: 250px;
            padding: 5px;
         }
         .input-container{
            display: flex;
            flex-direction: column;
            gap: 5px;
         }
         .reset-submit{
            color: #fff;
            background-color: rgb(104, 119, 119);
            border: none;
            padding: 5px;
            border-radius: 4px;
         }
         .reset-submit:hover{
            opacity: 0.7;
         }
    </style>
</head>
<body>
    <div class="reset-container">
            <h1>Reset Password</h1>
            <form action="/resetPassword" method="post">
                <div class="input-container">
                    <input type="email" placeholder="Enter your email address" name="email" class="reset-email">
                    <input type="submit" value="Submit" class="reset-submit">
                </div>
                
            </form>
   </div>
</body>
</html>